@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
/* common shared styles start here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Mulish', sans-serif;
}
button {
    color: white;
    background: rgb(255, 84, 0);
    border: 0;
    outline: 0;
    height: 52px;
    border-radius: 8px;
}
/* common shared styles end here */

/* styles for navbar start here */
.header-section {
    margin-top: 20px;
}
.nav-container {
    /* border: 1px solid red; */
    /* min-height: 50px; */
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    /* border: 1px solid green; */
    width: 50%;
    display: flex;
    align-items: center;
}
.logo-text {
    margin-left: 16px;
    font-size: 2.25rem;
    font-weight: 800;
}
.go-text {
    color: #FF5400;
}
.nav-items-container {
    /* border: 1px solid blue; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items-container a {
    text-decoration: none;
    font-size: 1.125rem;
}
.home {
    font-weight: 700;
    color: #FF5400;
}
.hamburger {
    display: none;
}
/* styles for navbar end here */

/* styles for banner start here */
.banner-section {
    margin-top: 50px;
}
.banner-container {
    /* border: 1px solid red; */
    width: 80%;
    height: 500px;
    margin: 0 auto;
    background-image: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%), url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.banner {
    /* border: 1px solid green; */
    max-width: 99%;
    color: white;
    text-align: center;
}
.banner h1 {
    font-size: 4rem;
    font-weight: 800;
}
.banner-desc {
    /* border: 1px solid blue; */
    margin: 24px auto 48px;
    max-width: 85%;
}
.banner-desc p {
    font-size: 1rem;
}
.banner-form {
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
}
.search {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.search input, .search select, .search button {
    border: 0;
    outline: 0;
    height: 52px;
    border-radius: 8px;
    max-width: 174px;
    flex-grow: 1;

}
.search input, .search select {
    color: gray;
    padding-left: 16px;
}
.search button {
    font-weight: 700;
}

/* styling tours section starts */
.tours-section {
    margin-top: 100px;
}
.tours-container {
    /* border: 1px solid red; */
    /* min-height: 500px; */
    width: 80%;
    margin: 0 auto;
}
.tours {
    display: flex;
    justify-content: space-between;
}
.tours-desc {
    width: 50%;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}
.tours-desc h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: black;
}
.tours-desc ul {
    /* border: 1px solid green; */
    padding-left: 20px;
    margin: 24px auto;
}
.tours-desc ul li {
    margin-bottom: 16px;
}
.tours-desc button {
    max-width: 174px;
    font-size: 1.25rem;
    font-weight: 800;
}
.mountain {
    /* border: 1px solid blue; */
    width: 45%;
}
.mountain img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
/* styling tours section ends */

/* styling destination section starts */
.dest-section {
    margin-top: 100px;
}
.dest-container {
    /* border: 1px solid red; */
    /* min-height: 1500px; */
    width: 80%;
    margin: 0 auto;    
}
.destination {
    text-align: center;
}

.destination h1 {
    /* border: 1px solid green; */
    font-size: 2.5rem;
    font-weight: 800;
}
.dest-desc {
    /* border: 1px solid blue; */
    color: gray;
    margin: 24px auto 48px;
    max-width: 55%;
}
.dest-collage {
    /* border: 1px solid yellow; */
    /* min-height: 1000px; */
}
.row {
    /* border: 1px solid purple; */
    display: flex;
    /* gap: 2.05128205%; */
    justify-content: space-between;
}
.row.row1, .row.row2 {
    margin-bottom: 24px;
}
.row > div {
    /* border: 1px solid skyblue; */
}
.row1 > div {
    /* flex: 1; */
    width: 48.974359%;
}
.row2 div:nth-of-type(1) {
    width: 31.965812%;
}
.row2 div:nth-of-type(2) {
    width: 40.5128205%;
}
.row2 div:nth-of-type(3) {
    width: 23.4188034%;
}
.row3 div:first-child {
    width: 40.4273504%;
}
.row3 div:last-child {
    width: 57.5213675%;
}
.row div img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
/* styling destination section ends */